extends layout

block content
  script(type="text/javascript", src="/javascripts/overview.js")
  h1= title
  .container 
    table#scoreTable.table.table-striped.table-hover
      thead.table-light
        tr 
          th name 
          th github id 
          th year 
          th total score 
          th exellent contributor 
          th owner score
          th contributor score
          th additional score
      tbody
        -console.log("???");
        -for(let i=0; i<size;i++)
          tr
            td
              a(href="users/"+table[i].id) #{table[i].name}
            td #{table[i].github_id}
            td.ns= table[i].year
            td.sc= table[i].total_score
            td.sc= table[i].excellent_contributor
            td.sc= table[i].owner_score
            td.sc= table[i].contributor_score
            td.sc= table[i].additional_score