extend layout 

block content 
  h1= title
  .container 
    .row
      .col-3
        table.table.table-bordered
          tbody 
            tr
              td(scope='row') 이름
              td #{user.name}
            tr
              td(scope='row') 학번
              td#student_id #{user.id}
            tr
              td(scope='row') 대학
              td #{user.college}
            tr
              td(scope='row') 학과
              td #{user.dept}
            tr
              td(scope='row') GitHub
              td 
                a(href='https://github.com/' + user.github_id) #{user.github_id}
            tr
              td(scope='row') Email
              td #{user.primary_email}
      .col-9
        .container
          ul.nav.nav-tabs
            li.nav-item
              a.nav-link#owned_repo_tab(data-toggle='tab', data-load="false", data-url="/ajax/owned_repo?student_id="+user.id, href="#owned_repo") Owned Repository
            li.nav-item
              a.nav-link#contr_repo_tab(data-toggle='tab', data-load="false", data-url="/ajax/contr_repo?student_id="+user.id, href="#contr_repo") Contributed Repository
          .tab-content
            .tab-pane.fade.w-100#owned_repo
            .tab-pane.fade.w-100#contr_repo

block scripts
  script(type="text/javascript", src="/javascripts/users.js")
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')